<% layout('/layouts/boilerplate') %>
<body>
    <div class="row mt-5">
        <div class="col-8 offset-2">
    <h1 class="text-center">Create a New Listing</h1>
    <form action="/listings" method="post"  novalidate class="needs-validation">
        <div>
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" class="form-control" id="title" placeholder="Enter the title" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please Enter a title
            </div>
        </div>
        <div>
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" id="description"class="form-control" placeholder="Enter the description" required></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please Enter a Description
            </div>
        </div>
        <div>
            <label for="image" class="form-label">Image URL</label>
            <input type="text" name="listing[image]"  id="image" class="form-control" placeholder="Ex:-htttp://mmypic/bunty/6urnjev/">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="text" name="listing[price]"  id="price" class="form-control" placeholder="Price[INR]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please Enter a Price
                </div>
            </div>
            <div class="mb-3 col-md-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]"  id="location" class="form-control" placeholder="Ex:-Delhi" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please Enter a Location
                </div>
            </div>
        </div>
        <div>
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]"  id="country" class="form-control" placeholder="Ex:-India" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please Enter a Country
            </div>
        </div>
        <button type="submit" class="btn btn-dark mt-3 mb-5 add-btn">Add</button>
    </form>
</div>
</div>
</body>