<% layout('/layouts/boilerplate') %>

<div class="row mt-3">
    <h1 class="text-center">Login on WonderLust</h1>
    <div class="col-6 offset-3">
        <form action="/login" method="POST">
            <div>
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="username" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please Enter a username
                </div>
            </div>
            <div>
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please Enter a Password
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Login</button>
        </form>
    </div>
</div>
